body {
  background-color: #e9ecef;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}
section {
  margin: 0 auto;
}
header {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.6)),url(/images/fivetowers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 20%;
    color: white;
    text-align: center;
    padding: 200px 0;
  }

  header h1 {
    font-family:'Old Standard TT', serif;
    font-size: 96px;
    font-weight:700px;
    line-height: 1;
    margin: 30px 0;
  }
  header h2 {
    font-family:'Open Sans', sans-serif;
    font-size: 40px;
    font-weight:400px;
    line-height: 1.5;
    margin: 0;
  }

  header h3 {
    font-family:'Open Sans', sans-serif;
    font-size: 24px;
    font-weight:900px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0;
  }

  header a {
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    font-weight:700px;
    line-height: 1.5;
    text-align: center;
    color:black;
    text-transform: uppercase;
    text-decoration: none;
    background-color: antiquewhite;
    display:inline-block;
    padding:16px 32px;
    margin-top: 32px;
  }

  .grid-3-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  footer {
    color: white;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(/images/burghalle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 70%;
    padding: 200px;
  }
  footer h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    font-family:'Open Sans', sans-serif;
  }

  footer h4 {
    font-family:'Open Sans', sans-serif;
  }
  footer a {
    color:white;
    opacity: 0.7;
  }
  footer p {
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
    margin-right: 20px;
    line-height: 24px;
    font-family:'Old Standard TT', serif;
  }

  footer ul {
    padding: 0;
  }

  footer li {
    list-style: none;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: 'Old Standard TT', serif;
  }
  @media (max-width: 960px) {
    header {
      padding:60px 0;
    }
    header h1 {
      font-size: 48px;
    }
    header h2 {
      font-size: 20px;
    }
    header h3 {
      font-size: 12px;
    }
  }